main {
    width: 100%;
}
section.sidemenu {
    width: 15%;
    text-align: left;
    padding: 1em 1em 1em 3em;
    text-transform: capitalize;
    float: left;
    height: 85vh;
    border-right: 1px solid;
}

section.sidemenu  > ul > li {
    font-size: 15px;
    margin-bottom: .2em;
    padding: 1em .5em;
}

section.sidemenu  > ul > li a {
    color: #000;
}

section.sidemenu  > ul > li.active {
    border-left: 5px solid #669999;
}

section.sidemenu  > ul > li.active > a {
    color: #669999;
}

section.main {
    width: 72%;
    float: right;
    padding: 0 2em;
}
.audit-log-filter, .audit-log-table {
     border: 0;
    background: #f0f0f0;
    border-radius: 3px;
    overflow: hidden;
    margin: 5px 0 10px;
}
.list-group {
    /*color: #337ab7;*/
    /*text-shadow:  0 0 1em #337ab7;*/
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 52px;
    left: 0;
    z-index: 99999;
}
.list-group-item {
    background: white;
    padding: 6px 0;
    text-align: left;
}
.list-group-item:hover{
    color: teal;
    text-shadow:  0 0 1em teal;
    cursor: pointer;
}
.relative {
    position: relative;]
}
.push-right {
    margin-right: 10px;
}