<div>
    <script>
        $(function () {

            $("#product_name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: window.location.protocol + "//" + window.location.host + "/openmrs/ws/rest/v1/get_item/getDrug",
                        dataType: "json",
                        data: {
                            name: request.term
                        },
                        success: function (data) {

                            if (data == null) {
                                data = {label: "Other"};
                                response(data);
                            } else {
                                response($.map(data, function (value, key) {

                                    return {
                                        label: value.name,
                                        value: value.drug_id
                                    }
                                }));
                            }
                        }
                    });
                },
                minLength: 2,
                focus: function (event, ui) {
                    // prevent autocomplete from updating the textbox
                    event.preventDefault();
                    $(this).val(ui.item.label);
                },
                select: function (event, ui) {
                    // prevent autocomplete from updating the textbox
                    event.preventDefault();
                    // manually update the textbox and hidden field
                    $(this).val(ui.item.label);

                    $("#item_id").val(ui.item.value);
                    $("#item_id").trigger('change');
                }
            });
        });
    </script>

</div>
<div style="padding:30px">
    <div id="navigation" style="float:left;">
        <ul class="top-level">
            <li><a href="../warehouse/#/overview">Pharmacy Overview</a></li>
            <li><a href="../warehouse/#/products">Add Product</a></li>
            <li><a href="../warehouse/#/activateProducts">Activate/Retire Product</a></li>
            <li><a href="../warehouse/#/price">Add Price</a></li>
            <li><a href="../warehouse/#/physical_invent">Physical Inventory</a></li>
            <li><a href="../warehouse/#/out_of_stock">Out of Stock</a></li>
            <li><a href="../warehouse/#/expired_stock">Expired Stock</a></li>
        </ul>
    </div>
    <div id="actvateRetire_product">

        <div class="audit-log-filter">
            <header>
                <p>Expired Stock</p>
            </header>


        </div>
        <p>
            <input placeholder="Search by Name" id="searchledger" type="text" ng-model="searchInv">

            <button type="submit" class="run-report confirm" ng-click="search()">
                Search
            </button>
        </p>

        <h1 style="padding-top: 1rem">Expired stock</h1>
        <table style="margin-top: 1rem">
            <thead>
            <tr>
                <th>Item</th>
                <th>Price List</th>
                <th>Batch NO</th>
                <th>Expiry Date</th>
                <th>Total Value (Tsh)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="expired in expiredDrugs">
                <td>{{ expired.drug_name }}</td>
                <td>{{ expired.price_list_name }}</td>
                <td>{{ expired.batch_no }}</td>
                <td>{{ expired.expiry_date | date:"medium" }}</td>
                <td>{{ expired.amount | currency:"" }}</td>
            </tr>

            </tbody>


        </table>

    </div>
</div>