<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label" data-ng-controller="SettingsController">
    <span class="ngdialog-start"></span>

    <span class="ngdialog-close"></span>

    <div class="drug-details">
        <p><strong class="drug-name">New</strong></p>
        <div>
            <section class="edit-drug-order">
                <form name="addForm" bm-form>
                    <div class="clearfix">
                        <div class="form-field">
                            <div class="field-value">
                                <label>Select Category</label>
                                <select ng-model="product.category" ng-change="getCategorySubCats(product.category)">
                                    <option ng-repeat="category in allCategories" value="{{ category.uuid }}">{{
                                        category.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

<!--                    drugs-->
                    <div ng-show="cat.name.toUpperCase() === 'drugs'.toUpperCase()">
                        <p style="color: red;">Not supported</p>
                    </div>

<!--                    non drugs-->
                    <div ng-show="cat.name.toUpperCase() === 'non drugs'.toUpperCase()">
                        <div class="clearfix">
                            <div class="form-field">
                                <div class="field-value">
                                    <label for="">Select Subcategory</label>
                                    <select name="category" id="" ng-model="product.subcategoryuiid">
                                        <option ng-repeat="subcategory in allSubCategories" value="{{ subcategory.uuid }}">{{
                                            subcategory.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="form-field">
                                <div class="field-value">
                                    <label>Product Attributes</label>
                                    <textarea class="enter-concept" style="width: 100%" ng-model="product.attributes" placeholder="type; color; size"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </section>
        </div>
    </div>

    </br>
    <div class="dialog-button-group">

        <button id="modal-import-button" class="primary-button" ng-click="closeThisDialog(0)">Close
        </button>

        <button class="secondary-button" ng-click="saveProduct(product)" type="submit">Save
        </button>
    </div>


    <span class="ngdialog-end"></span>
</div>
