<li ui-sref-active="active">
    <a ui-sref="price">Price Category</a>
</li>
<li ui-sref-active="active">
    <a ui-sref="categories">Product categories</a>
</li>
<li ui-sref-active="active">
    <a ui-sref="subcategories">Item subcategories</a>
</li>
<li ui-sref-active="active">
    <a ui-sref="manage-generic-products">Generic drug names</a>
</li>
<li ui-sref-active="active">
    <a ui-sref="manage-products">Generic non-drugs</a>
</li>
<li ui-sref-active="active">
    <a ui-sref="register-items">Actual Items</a>
</li>
<li ui-sref-active="active">
    <a ui-sref="pricing">Pricing</a>
</li>