<div class="revise-refill-modal-wrapper" aria-labelledby="dialog-label">
    <span class="ngdialog-start"></span>

    <span class="ngdialog-close"></span>

    <div class="drug-details">
        <p><strong class="drug-name">Reasons for returning drug_name</strong></p>
        <div>
            <section class="edit-drug-order">
                <form name="addForm" bm-form>
                    <div class="clearfix">
                        <div class="form-field">
                            <div class="field-value">
                                <input class="enter-concept"
                                       type="text"
                                       ng-model="drug.name"
                                       placeholder="Enter drug name"/>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="form-field">
                            <div class="field-value">
                                <input placeholder="Amount"
                                       ng-model="drug.quantityAsking" required
                                       ng-pattern="/^[0-9]+$/"/>
                            </div>
                        </div>
                        <div class="form-field">
                            <div class="field-value">
                        <textarea class="order-set-additionalInstructions"
                                  placeholder="Reasons for returnig"
                                  ng-model="drug.reasons" style="width: 400px;">
                        </textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

    </br>
    <div class="dialog-button-group">

        <button id="modal-import-button" class="primary-button" ng-click="closeThisDialog(0)"
                ng-focus="toggleTabIndexWithinModal($event)">Close
        </button>

        <button class="secondary-button" ng-click="submitReturn()" type="submit"
                ng-focus="toggleTabIndexWithinModal($event)">Submit
        </button>
    </div>


    <span class="ngdialog-end"></span>
</div>


