<div align="center">
    <ul>
        <li>
            <a ui-sref="settings" class="button app big ng-binding ng-scope" target="_self"><i class="icon-bahmni-registration"></i>Settings</a>

            <a ui-sref="ledger" class="button app big ng-binding ng-scope" target="_self"><i class="icon-bahmni-registration"></i>Ledger Entry</a>

            <a ui-sref="product-movement" class="button app big ng-binding ng-scope" target="_self"><i class="icon-bahmni-registration"></i>Product Movement</a>
<!--            <a ui-sref="products" class="button app big ng-binding ng-scope" target="_self" ><i class="icon-bahmni-registration"></i>Products</a>-->
        </li>
        <li>

            <a ui-sref="manage" class="button app big ng-binding ng-scope" target="_self"><i class="icon-bahmni-registration"></i>Store Management</a>

            <a ui-sref="stock" class="button app big ng-binding ng-scope" target="_self" ><i class="icon-bahmni-registration"></i>Stock Control</a>

            <a ui-sref="#" class="button app big ng-binding ng-scope" target="_self"><i class="icon-bahmni-registration"></i>Dispensing</a>
        </li>
<!--        <li>-->
<!--            <a ui-sref="manage" class="button app big ng-binding ng-scope" target="_self"><i class="icon-bahmni-registration"></i>Store Management</a>-->

<!--            <a ui-sref="stores" class="button app big ng-binding ng-scope" target="_self" ><i class="icon-bahmni-registration"></i>Stores</a>-->


<!--        </li>-->

    </ul>

</div>