<main style="width: 100%">
    <section style="width: 100%">
        <h1 style="text-align: center">STOCK</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>SN</th>
                <th>Drug</th>
                <th>Expiry Date</th>
                <th>Stock in Hand</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr style="color: red">
                <td>1</td>
                <td>Paracetamol 250mg</td>
                <td>01/03/2019</td>
                <td>700</td>
                <td><a ui-sref="manage({id:1})">Manage</a></td>
            </tr>
            <tr class="">
                <td>2</td>
                <td>Paracetamol 250mg</td>
                <td>01/10/2019</td>
                <td>6700</td>
                <td><a ui-sref="manage({id:2})">Manage</a></td>
            </tr>
            </tbody>
        </table>
        <div>
            <button style="margin: 1em">View All</button>
        </div>
    </section>
</main>